/* Nav Bar CSS */
#profile{
    border-radius:50%;
}
h1 {
text-align:center;    
   
}
p{
    text-align: center;
}
 body {
      position: relative; 
      background-color:#51A629;
  }

/* Header CSS */

/* Section CSS */

/* About Section CSS */

/* Portfolio Item CSS */

/* Footer CSS */

/* Button CSS */
